body{
    margin:0;
    background:#111;
    color:white;
    font-family:Arial;
    text-align:center;
}

/* Title */
h1{
    margin:20px;
    letter-spacing:3px;
}

/* Main split area */
.arena{
    display:flex;
    height:80vh;
}

/* Each player side */
.side{
    flex:1;
    border:2px solid #444;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
}

/* Divider line */
.left{
    border-right:4px solid white;
}

/* Target circle */
.target{
    width:140px;
    height:140px;
    background:red;
    border-radius:50%;
    box-shadow:0 0 20px red;
    display:none;   /* TEMP: force visible */
}
